<div class="artistsearch">
    <div class="card search">
        <h1>Car Directory</h1>
        <label *ngIf="name"
               [innerHTML]="name"></label>
        <input #newCar
               (keyup.enter)="addCar(newCar.value); newCar.value=''"
               (blur)="addCar(newCar.value); newCar.value=''">
        <button (click)="addCar(newCar.value); newCar.value=''">Add</button>
    </div>
</div>

<ul class="artistlist cf">
    <li *ngFor="#car of cars"
        (click)="onClick(car, carContainer)"
        #carContainer>
        <h2>{{car.name}}</h2>

        <p>{{car.country}}</p>
    </li>
</ul>