<div class="artistsearch">
    <div class="card search">
        <h1>Artist Directory</h1>
        <!--<input #newCar-->
        <!--[value]="name"-->
        <!--(input)="name=$event.target.value"-->
        <!--(keyup.enter)="addCar(newCar.value); newCar.value=''"-->
        <!--(blur)="addCar(newCar.value); newCar.value=''">-->
        <!--<button class="btn" (click)="addCar(newCar.value); newCar.value=''">Add</button>-->
        <input [(ngModel)]="query" placeholder="Search...">
    </div>
</div>

<ul *ngIf="query" class="artistlist cf">
    <li class="artist cf"
        (click)="showArtist(item); query='';"
        *ngFor="#item of (artists) | find:query">
        <artist-item class="content" [artist]="item"></artist-item>
    </li>
</ul>

<artist-details *ngIf="currentArtist"
                [artist]="currentArtist"></artist-details>